In [32]:
# https://github.com/vishurudratrainer/notebooks/blob/main/Logistic.ipynb
import pandas as pd
col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']
# load dataset
pima = pd.read_csv("https://raw.githubusercontent.com/npradaschnor/Pima-Indians-Diabetes-Dataset/master/diabetes.csv")

In [37]:
X = pima.drop('Outcome',axis=1)
Y = pima['Outcome']

In [38]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=16)

In [40]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression(random_state=16)

# fit the model with data
logreg.fit(X_train, Y_train)

Y_pred = logreg.predict(X_test)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [41]:
# import the metrics class
from sklearn import metrics

cnf_matrix = metrics.confusion_matrix(Y_test, Y_pred)
cnf_matrix

print(f'Test score {metrics.accuracy_score(Y_pred,Y_test)}')

Test score 0.8177083333333334

In [42]:
from sklearn.metrics import classification_report
target_names = ['without diabetes', 'with diabetes']
print(classification_report(Y_test, Y_pred, target_names=target_names))

                  precision    recall  f1-score   support

without diabetes       0.82      0.93      0.87       125
   with diabetes       0.82      0.61      0.70        67

        accuracy                           0.82       192
       macro avg       0.82      0.77      0.78       192
    weighted avg       0.82      0.82      0.81       192

In [12]:
# https://archive.ics.uci.edu/ml/machine-learning-databases/00222/
# bank-full.csv

bank = pd.read_csv(f'C:\\Users\\Admin\\Downloads\\bank\\bank-full.csv', sep=';')

In [11]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [23]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
col = ["job","marital","education","default","contact","housing","loan","month","poutcome"]
for i in col:
    bank[i]=le.fit_transform(bank[i])
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,no
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,no
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,no
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,no
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,no

In [24]:
X=bank.drop("y", axis=1)
Y=bank["y"]

In [25]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.7, random_state=0)

In [26]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logregmodel = LogisticRegression(random_state=0)

# fit the model with data
logregmodel.fit(X_train, Y_train)

Y_pred = logregmodel.predict(X_test)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [27]:
Y_pred

array(['no', 'yes', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [30]:
# import the metrics class
from sklearn import metrics

cnf_matrix = metrics.confusion_matrix(Y_test, Y_pred)
cnf_matrix

print(f'Test score {metrics.accuracy_score(Y_pred,Y_test)}')

Test score 0.8869122851365016

In [43]:
from sklearn.metrics import classification_report
target_names = ['without Y', 'with Y']
print(classification_report(Y_test, Y_pred, target_names=target_names))

              precision    recall  f1-score   support

   without Y       0.82      0.93      0.87       125
      with Y       0.82      0.61      0.70        67

    accuracy                           0.82       192
   macro avg       0.82      0.77      0.78       192
weighted avg       0.82      0.82      0.81       192

In [59]:
# https://archive.ics.uci.edu/ml/datasets/Haberman%27s%2BSurvival
# https://archive.ics.uci.edu/ml/machine-learning-databases/haberman/ 
# download data file rename to csv
haber = pd.read_csv(f'C:\\Users\\Admin\\Downloads\\bank\\haberman.csv', header=None)

In [51]:
haber.head()

   IP1  IP2  IP3  OP
0   30   64    1   1
1   30   62    3   1
2   30   65    0   1
3   31   59    2   1
4   31   65    4   1

In [60]:
haber.columns = ["IP1","IP2","IP3","OP"]
X = haber.drop("OP", axis=1)
Y = haber["OP"]

In [61]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.7, random_state=0)

In [63]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logregmodel = LogisticRegression(random_state=0)

# fit the model with data
logregmodel.fit(X_train, Y_train)

Y_pred = logregmodel.predict(X_test)

In [65]:
# import the metrics class
from sklearn import metrics

cnf_matrix = metrics.confusion_matrix(Y_test, Y_pred)
cnf_matrix

array([[150,   0],
       [ 65,   0]], dtype=int64)

In [66]:
print(f'Test score {metrics.accuracy_score(Y_pred,Y_test)}')

Test score 0.6976744186046512

In [67]:
from sklearn.metrics import classification_report
target_names = ['Survived', 'Not Survived']
print(classification_report(Y_test, Y_pred, target_names=target_names))

              precision    recall  f1-score   support

    Survived       0.70      1.00      0.82       150
Not Survived       0.00      0.00      0.00        65

    accuracy                           0.70       215
   macro avg       0.35      0.50      0.41       215
weighted avg       0.49      0.70      0.57       215

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [122]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 96.5/96.5 kB 5.8 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [123]:
# https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients
credit = pd.read_excel('C:\\Users\\Admin\\Downloads\\bank\\default of credit card clients.xls', header=1)

In [127]:
credit.drop('ID', axis=1, inplace=True)

In [128]:
credit.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [129]:
credit.dtypes

LIMIT_BAL                     int64
SEX                           int64
EDUCATION                     int64
MARRIAGE                      int64
AGE                           int64
PAY_0                         int64
PAY_2                         int64
PAY_3                         int64
PAY_4                         int64
PAY_5                         int64
PAY_6                         int64
BILL_AMT1                     int64
BILL_AMT2                     int64
BILL_AMT3                     int64
BILL_AMT4                     int64
BILL_AMT5                     int64
BILL_AMT6                     int64
PAY_AMT1                      int64
PAY_AMT2                      int64
PAY_AMT3                      int64
PAY_AMT4                      int64
PAY_AMT5                      int64
PAY_AMT6                      int64
default payment next month    int64
dtype: object

In [132]:
X = credit.drop("default payment next month", axis=1)
Y = credit["default payment next month"]

In [133]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.7, random_state=0)

In [134]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logregmodel = LogisticRegression(random_state=0)

# fit the model with data
logregmodel.fit(X_train, Y_train)

Y_pred = logregmodel.predict(X_test)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [135]:
# import the metrics class
from sklearn import metrics

cnf_matrix = metrics.confusion_matrix(Y_test, Y_pred)
cnf_matrix

array([[16405,     3],
       [ 4591,     1]], dtype=int64)

In [136]:
print(f'Test score {metrics.accuracy_score(Y_pred,Y_test)}')

Test score 0.7812380952380953

In [137]:
from sklearn.metrics import classification_report
target_names = ['Defaulted', 'Not Defaulted']
print(classification_report(Y_test, Y_pred, target_names=target_names))

               precision    recall  f1-score   support

    Defaulted       0.78      1.00      0.88     16408
Not Defaulted       0.25      0.00      0.00      4592

     accuracy                           0.78     21000
    macro avg       0.52      0.50      0.44     21000
 weighted avg       0.67      0.78      0.69     21000